
@media screen and (min-width:990px)/* PAGE D'ACCUEIL*/

{
	.header__logo img
	{
		width: 200px;
	}

	.btn
	{
		width: 250px;
		height: 60px;
	font-size: 18px}

	.onglet-gris
	{
		width: 25%;
		margin:2%;
	}

	.desktop-flex
	{
		flex-direction: row;
		justify-content: space-between;
		margin-left:4%;
	}

	.desktop-onglet-carre
	{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	margin-left: 5%}

	.card
	{
		width: 40%;
		margin-left:5%;
	}

	.card__nouveau
	{
		margin-left: 30%;
	}

	.fa-heart
	{
		font-size: 35px;
		margin-left: 30%;
	}

	/* PAGE MENUS*/
	.img-header img
	{
		height: 500px;
	}
	.menu__titre{
		justify-content: center;
	}
	.fa-2x
	{
		position:absolute;
		padding-left: 30px;
		padding-top: 5px;
	}

	.plats__fond
	{
		width: 50%;
	}
}
