
.fond-gris
{
background-color: var(--couleur7);
width: 100%;
}

.footer
{
background-color: var(--couleur6);

}

.footer__title h4
{
font-family: var(--font-family);
justify-content: center;
font-size: 18px;
font-weight: 100;
padding-top: 1%;
margin-bottom:2px;
letter-spacing: 1px;
color:white;
}

.footer__ul
{
padding-bottom:20px;
padding-top:-10px;

}
   .footer__ul{
       display: flex;
       justify-content: space-evenly;
       justify-items:flex-start;
       margin-left: 0;
   }
   
@media screen and (min-width:990px) {
    .footer__title
{
font-family: 'Shrikhand', cursive;
font-size: 22px;
display: flex;
justify-content: center;
font-weight: 100;
padding-top: 4%;
letter-spacing: 1px;
color: white;
}
.footer__li{
    margin-left: 1%;
}
}