
.flex-center-row
{
	display: flex;
	align-items: center;
}

.icone-flèche
{
	font-size: 30px;
	color: black;
	margin-top:5px;
	position: absolute;
	margin-left:10px;
}

.header__img img
{
	height: 400px;
	width: 100%;
	object-fit: cover;
}

.menus
{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.menu__fond
{
	background-color:#f6f6f6;
	border-radius: 30px 30px 0px 0px;
	margin-top: -100px;
	position:relative;
	z-index: 2;
}

.menu__titre
{
	display: flex;

}

.menu__titre h1
{
	font-size: 28px;
	font-family: var(--font-family);
	margin-left: 4%;
}

.fa-2x
{
	position: absolute;
	padding-top: 5px;
	margin-left: 83%;
}

.plats__fond
{
	background-color:#fff;
	border-radius: 20px;
	width: 80%;
	height: 50px;
	margin-top: 20px;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
	padding: 10px;
	margin-top: 25px;
	overflow: hidden;
}

.plats__description
{
	color: black;
	margin-top:-30px;
}

.plats__description
{
	
	margin-left: 4%;
	
}

.plats__text p
{
	font-weight: 400;
	color: #353535;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.plats__text h3
{
	color:black;
	padding-top: 8px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
h3{
	overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
.plats__fond:hover h3{
width: 200px;	
}

.espace1:hover{
	margin-left: -50px;
	width: 100px;
}

.titre_plats h3{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.plats__prix
{
	margin-left: auto;
	padding-left: 50px;
	font-weight: bold;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	padding-left: 0.5rem;
	margin-top: -55px;
}

.plats__prix p
{
	font-weight: bolder;

}

.espace
{
	width: 25px;
}

.ligne-2
{
	display: flex;
	margin-top: -28px;
}

.flex-center
{
	display: flex;
	flex-direction: column;
	align-items: center;
}
